$colors: (
	headerColor:#d1d1d1,
	mainColor:#ffffff
);

$sectionColor:#3b3f50;
$sectionText:#c0c3ce;
$bckgColor:#21232e;
$btnColor:#e3ac00;
$btnText:#ffffff;
$higlightText:#ff4e33;
$headerFont:'Fresca', sans-serif;
$mainFont:'Source Sans Pro', sans-serif;
$bcgrndImage:url("../img/m-h-night.jpg") no-repeat;
$bannerGradient:linear-gradient(30deg, rgba(223,165,6,1) 0%, rgba(149,48,80,1) 100%);


